@model TestDbFirst.Customer

@{
    ViewBag.Title = "Részletek";
}

<h2>Részletek</h2>

<div>
    <h4>Vásárló</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemUser1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemUser1.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szerkeszt", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Vissza a listához", "Index")
</p>
