@model IEnumerable<TestDbFirst.Production>

@{
    ViewBag.Title = "Gyártások listája";
}

<h2>Gyártások listája</h2>

<p>
    @Html.ActionLink("Új gyártás", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemUser.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.Name)
        </th>
        <th>@Html.Raw("Műveletek")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SystemUser.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse.Name)
        </td>
        <td>
            @*@Html.ActionLink("Szerkeszt", "Edit", new {id = item.Id}) |*@
            @Html.ActionLink("Részletek", "Details", new {id = item.Id}) @*|
            @Html.ActionLink("Törlés", "Delete", new {id = item.Id})*@
        </td>
    </tr>
    }

    </table>
