@model List<TestDbFirst.Models.DTOIssue>

@{
    ViewBag.Title = "Kiadások listája";
}

<h2>Kiadások listája</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Mozgás</th><th>Száll.levél.sz.</th><th>Létreh.dátuma</th><th>Létrehozta</th><th>Vevő</th><th>Termék</th><th>Utolsó mód.dátuma</th><th>Ut.Módosította</th><th>Művelet</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MovementTypeName</td>
            <td>@item.DeliveryNote.Number</td>
            <td>@item.DeliveryNote.CreatedDate</td>
            <td>@item.DeliveryNote.CreatedByName</td>
            <td>@item.DeliveryNote.CustomerName</td>
            <td>
                @foreach (var si in item.DeliveryNote.DeliveryNoteItems)
                {
                    @Html.DisplayFor(c=> si.RecipeName)
                    @Html.Raw(" - ")
                    @Html.DisplayFor(c=> si.Quantity)
                    @Html.Raw(" t")
                    <br/>
                }
            </td>
            <td>@item.DeliveryNote.ChangedDate</td>
            <td>@item.DeliveryNote.ChangedByName</td>
            <td>@Html.ActionLink("Szerkeszt", "EditIssue", new { id = item.DeliveryNote.Id })</td>
        </tr>
    }
                
    </tbody>

</table>
