<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <title>@ViewBag.Title - Mecsek Transit</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mecsek Transit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Alapadatok
                            <span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Raktárak", "Index", "Warehouses")</li>
                        <li>@Html.ActionLink("Partnerek", "Index", "Customers")</li>
                        <li>@Html.ActionLink("Alapanyagok", "Index", "Ingredients")</li>
                        <li>@Html.ActionLink("Receptek", "Index", "Recipes")</li>
                        <li>@Html.ActionLink("Recept összetevők", "Index", "RecipeIngredients")</li>
                    </ul>
                    <li>@Html.ActionLink("Gyártás", "Index", "Productions")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Készletkezelés
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Alapanyag készlet", "Index", "CurrentIngredientStocks")</li>
                            <li>@Html.ActionLink("Késztermék készlet", "Index", "CurrentProductStocks")</li>
                            <li>@Html.ActionLink("Alapanyag mozgások listája", "Index", "IngredientMovements")</li>
                        </ul>
</ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div class="container body-content">
    
    @if (TempData.ContainsKey("Operation"))
    {
        var alertclass = string.Format("alert-{0}", TempData["Operation"]);

        var texthead = TempData["Operation"].Equals("success") ? "Sikeres művelet" : "Sikertelen művelet";
        var text = TempData["Operation"].Equals("success") ? "Sikeres művelet" : "Sikertelen művelet";
        <div class="alert alert-dismissible @alertclass">
            <button type="button" class="close" data-dismiss="alert">X</button>
            <h4>@Html.Raw(texthead)</h4>
        </div>
    }
    

    @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://www.techtree.eu">TechTree Solutions</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", false)
</body>
</html>
