

@model TestDbFirst.Models.DTODeliveryNoteItem
    @Html.HiddenFor(m => m.DeliveryNote_Id)
    @Html.HiddenFor(m => m.ProductMovement_Id)
    @Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Warehouse_Id)
@Html.HiddenFor(m => m.Recipe_Id)
<td class="col-sm-4">
    @Html.DropDownListFor(m=>m.Warehouse_Id, new SelectList(Model.Warehouse, "Id", "Name", Model.Warehouse_Id),  new { disabled = "disabled", @class = "form-control" }) 
    @Html.ValidationMessageFor(model => model.Warehouse_Id, "", new { @class = "text-danger" })
</td>
<td class="col-sm-4">
    @Html.DropDownListFor(m=>m.Recipe_Id, new SelectList(Model.Recipe, "Id", "Name", Model.Recipe_Id), new { disabled = "disabled", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Recipe_Id, "", new { @class = "text-danger" })
</td>
<td class="col-md-10">
    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
</td>
<td class="col-sm-2">
    @Html.CheckBoxFor(model => model.ProductMovementIsActive, new { htmlAttributes = new { @class = "form-control" } })
    @*<input type="button" class="ibtnDel btn btn-md btn-danger " value="Delete">*@
</td>

